nav
    z-index: 2
    a
        padding: 15px
    a:hover
        background-color: #c94040fd 
.img
    filter: brightness(25%)
.texth
    z-index: 1
h1
    font-family: "courgette"
    font-style: italic
    
           
.dent
    position: absolute
    bottom: 0%
    display: flex
.ro
    border-radius: 50%
