nav
    a
        padding: 15px
    a:hover
        background-color: #c94040fd 
.img
    filter: brightness(25%)
h1
    font-family: "courgette"
    font-style: italic
    .oc
        font-size: 80px
        text-transform: uppercase
    .tast
        text-transform: uppercase
    .makes
        font-size: 50px   
    .remem
        font-size: 50px    
.dent
    position: absolute
    bottom: 0%
    display: flex
.ro
    border-radius: 50%
